@model IEnumerable<SettingListItemVm>
@{
	ViewData["Title"] = "Index";
}


<div class="table-responsive">
	<table class="table table-bordered" width="100%">
		<thead>
			<tr>
				<th class="text-center">Id</th>
				<th class="text-center">ImageUrl</th>
				<th class="text-center">UpdatedTime</th>
				<th class="text-center">Action</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Id</td>
					<td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFCeqcQln9TquiGb1k3eJnJqARaUr3umqXFw&usqp=CAU" /></td>
					<td class="text-center">@(item.UpdatedTime != null ? item.UpdatedTime.ToString() : "No Update")</td>
					<td class="text-center">
						<a asp-action="Update" class="btn btn-outline-info" asp-route-id="@item.Id">Update</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

